* {
    margin: 0;
    padding: 0;
}

h1, h3 {
    margin: 15px auto 10px auto;
    text-align: center;
}

#game-winner, #choice, #round-winner, #score {
    text-align: center;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-items: center;
}

#play-game-btn, #player-btns, #playerSelection {
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
}

.buttons {
    display: flex;
    margin: 15px;
}
